/*@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/
body {
  /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-weight: 300;*/
  /*color: #111;*/
  /*background: #fefefe;*/
}

#content {
  margin-top: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

.message-block {
  padding: 5px;
  /*background-color: rgba(255, 132, 18, 0.73);*/
  height: 3em;
  width: 98%;
  margin: 0 auto;
  border-radius: 12px;
  border: 2px solid #BADA55;
}

.message-block>p {
  text-align: center;
  font-weight: 900;
  font-size: 125%;
}

.regform h5 {
  font-weight: 900;
  margin-bottom: 0;
}
.checkbox label, .radio label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 15px;
    padding-left: 20px;
}

/*
p {
    margin: 0 0 0 10px;
}
*/

.req {
  color: darkred;
  margin: 0 0px 0 0.2em;
}

.navbar-right {
  float: right!important;
  margin-right: 0px;
}

.policyd {
  width: 80%;
  margin: 0 auto;
}

.policy div.checkbox {
  font-size: 115%;
  font-weight: 800;
}

.regform fieldset {
  margin: 2em 0 0 0px;
}

.regform label {
  margin: 0px 0px 0px 0px;
}

.regform .pnames label {
  font-size: 85%;
}

.regform legend {
  margin-bottom: 0.25em;
}

.regform #preferredUID, .regform #nrelUserID {
    max-width: 16em;
}

.regform .help-block {
  margin: 0;
}

.regform .checkbox {
  margin: 0;
  display: inline-block;
}

.form-group p {
  margin: 0;
}

.deform-seq-add:visited {
   color: blue;
}

.deform-replaces {
    float: left;
}

.deform-set-item {
    padding: 1px;
}

form .required {
    font-weight: bold;
}

form .required:after {
    color: #e32;
    content: '*';
    display:inline;
}

button#request_account_submit {
  width: 100%;
  margin-bottom: 1em;
}

/* ugh, terrible selector coming up */

.hasDatepicker[readonly] {
    cursor: pointer !important;
}

form .deform-readonly-text {
    font-style: italic;
}

.regform .help {
  font-style: italic;
  padding: 0px 0em 0px .5em;
  color: #888;
}

.regform p.help {
  padding: 0 1em;
}

fieldset#existing-account,
fieldset#new-account {
  display: none;
}

.regform .reg-form-submit-section {
  margin-top: 4em;
}

@media (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {

}

.table-wrapper {
  Width: 98%;
  margin: 0 auto;
}

table.user-list {
  font-size: 80%;
}

table.user-list thead {
  background-color: black; color: #ddd;
}

.portal-container {
  width: 98%;
  margin: 0 auto;
}


.resp-reported-value {
  margin-left: 2em;
  color: darkblue;
}


/* end */
