/*@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/
body {
  /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-weight: 300;*/
  /*color: #111;*/
  /*background: #fefefe;*/
}

#content {
  margin-top: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

.req {
  color: darkred;
  margin: 0 0px 0 0.2em;
}

@media (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {

}
