/*@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/
body {
  /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-weight: 300;*/
  /*color: #111;*/
  /*background: #fefefe;*/
}

#content {
  margin-top: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

.req {
  color: darkred;
  margin: 0 0px 0 0.2em;
}

.navbar-right {
  float: right!important;
  margin-right: 0px;
}

.policyd {
  width: 80%;
  margin: 0 auto;
}

.policy div.checkbox {
  font-size: 115%;
  font-weight: 800;
}

.regform fieldset {
  margin: 2em 0 0 0px;
}

.regform label {
  margin: 0px 0px 0px 0px;
}

.regform .pnames label {
  font-size: 85%;
}

.regform legend {
  margin-bottom: 0.25em;
}

.regform #preferredUID {
    max-width: 16em;
}

.regform .help-block {
  margin: 0 0 0 0;
}

.regform .checkbox {
  margin: 0 0 0 0;
}


.deform-seq-add:visited {
   color: blue;
}

.deform-replaces {
    float: left;
}

.deform-set-item {
    padding: 1px;
}

form .required {
    font-weight: bold;
}

form .required:after {
    color: #e32;
    content: '*';
    display:inline;
}

/* ugh, terrible selector coming up */

.hasDatepicker[readonly] {
    cursor: pointer !important;
}

form .deform-readonly-text {
    font-style: italic;
}








@media (max-width: 1199px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {

}


